.container-fluid
{
    background-color: whitesmoke;
    margin: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.container-fluid>h2
{
    margin-top: 20px;
        position: relative;
        right: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.icon
{
    display: block;
    position: relative;
    margin-top: 90px;
    left: -160px;
    
}
.icon::before
{
    content: "";
    height: 2px;
    left: -43px;
    position: absolute;
    top: 30px;
    width: 36px;
    background-color: red;
}
.icon>img
{
    display: inline-block;
}

.icon:after
{
    content: "";
    height: 2px;
    left: 37px;
    position: absolute;
    top: 30px;
    width: 36px;
    background-color: red;
}
.abttext
{
    color: gray;
    padding: 150px;
    padding-top:50px;
    text-align: justify;
    padding-bottom:50px;
}

@media only screen and (max-width: 600px)
{
    .abttext
    {
        padding: 5px;
    }
}