.abt
{
    display: inline-block;
    padding-bottom: 90px;
   
}
.abt-dropdown
{
    background-color: white;
    width: max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: teal;
    font-weight: bold;
    position: absolute;
    margin-top: 10px;
    display: none;
    z-index: 1;
}

.abt-dropdown>ul
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2px;
}
.abt-dropdown li{
    margin: 2px;
}

.abtbt:hover + .abt-dropdown
{
    display: block;
}
.abt:hover>.abt-dropdown
{
    display: block;
}
.abt-dropdown li:hover
{
    border-radius: 0px !important;
    text-indent: 5px;
}
